### PyCharm ###

.idea/

### VisualStudioCode ###

.vscode/


# Environments
myenv/
.venv/

# Unit test / coverage reports
coverage/
*.coverage

### Other ###
.DS_Store
*pylint.svg
.pylintrc
__pycache__
