### PyCharm ###

.idea/

### VisualStudioCode ###

.vscode/


# Игнорировать все файлы в папке log/
log/*

# За исключением файла exception.log
!log/log_analyzer.log

# Environments
myenv/
.venv/

# Unit test / coverage reports
coverage/
*.coverage

### Other ###
.DS_Store
*pylint.svg
.pylintrc
__pycache__
